*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: 20px;
    font-weight: 500;
}

.createpost{
    /* background-color: #fff; */
    /* align-content: center;
    justify-content: center; */
    padding: 24px;
    width: 100%;
    margin-left: 10%;
    padding-top: 1rem;
    padding-right: 0;
}

.createpost_textarea{
    width: 95%;
    overflow: scroll;
}

.createpost_container{
    align-content: center;
    justify-content: center;
}

.createpost_UploadBtn{
    border: none;
    background-color: white;
}

.createpost_UploadBtn{
    float: right;
}